{% extends "encyclopedia/layout.html"%}

{% block title %}
  {{ title }}
{% endblock%}


{% block body %}


  {% if messages %}
  <div>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}

  <form action="{% url 'wiki:edit' %}" method="post">
    {% csrf_token %} <!--A unique token generated for each user/session. Prevents external attacks.-->
    {{ form }} <!--Django creates a form based on views.py-->
    <input type="submit">
  </form>






{% endblock %}
