{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}
    <h1>Related Pages for <span style="text-decoration: underline">{{ q }}</span> </h1>

    {% if entries %}

    <ul>
        {% for entry in entries %}
            <li><a href="{{ entry }}">{{ entry }}</a></li>
        {% endfor %}
    </ul>

    {% else %}
    <p>No results matched your keyword.</p>
    {% endif %}

    {% endblock %}









{% if messages %}
  <div>
    {% for message in messages %}
    <p><i>"{{falsetitle}}": {{ message }}</i></p>
    {% endfor %}
  </div>
{% endif %}
