<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Single Page</title>
        <style>
        </style>
        <script>

            function showSection(section) { //FETCHES text to display from your own webserver

                fetch(`/sections/${section}`) //Section#...
                .then(response => response.text()) //Convert response to plain text
                .then(text => {
                    console.log(text); //just for debugging/console...
                    document.querySelector('#content').innerHTML = text; //puts response.txt into #content block
                });
            }

            document.addEventListener('DOMContentLoaded', function() {
                document.querySelectorAll('button').forEach(button => {
                    button.onclick = function() {
                        showSection(this.dataset.section);
                    };
                });
            });
        </script>
    </head>
    <body>
        <h1>Hello!</h1>
        <button data-section="1">Section 1</button>
        <button data-section="2">Section 2</button>
        <button data-section="3">Section 3</button>
        <div id="content">
        </div>
    </body>
</html>
