{% extends "auctions/layout.html" %}



{% block head %}
 {#nothing here#}
{% endblock %}




{% block body %}

  <div>
    <h2>{{ listing.title }}</h2>
        {% if listing.active == False %}
        <h6 style="font-style:italic; color:red">Listing is closed.</h6>
        {% endif %}
        {% if request.user == listing.winner %}
          <p style="color:blue">You are the winner of this auction item!</p>
        {% endif %}
      <p>{{ listing.desc }}</p>
      <p><strong>Category:</strong> {{ listing.category }}</p>
      <p><b>Starting bid: </b>${{ listing.startbid | floatformat:2  }}</p>

      {% if listing.bigbid %}
        {% if listing.active == True %}
          <p><b>Current price: </b>${{ listing.bigbid | floatformat:2 }}</p>
        {% else %}
          <p><b>Winning price:</b> ${{ listing.bigbid | floatformat:2 }}. <b>Winner: </b>{{ listing.winner }} </p>
        {% endif %}
      {% else %}
        <p>No bids on this item yet.</p>
      {% endif %}

      <p><b>Seller: </b>{{ listing.owner }}.</p>
  </div>

  {% if listing.image %}
    <img style="width:20%" src="{{ listing.image }}" alt="{{ listing.title }}">
    <br>
  {% endif %}






<!-- B I D S -->



{% if user.is_authenticated %}
  {% if message %}
    <p style="color: blue">{{ message }}</p><!--Message for [un]success of Bid-->
  {% endif %}

{% if request.user != listing.owner %}
  {% if listing.active == True %}
    <div id="addbids"> <!--Only logged-in users can ADD bids-->
      <form action="{% url 'bid' listing.id %}" method="post">
        {% csrf_token %}
        {{ bidform.as_p }} <!--'Form' rendered as a <p> tag-->
        <input type="submit" id="bid">
      </form>
    </div>
                  {% endif %}
              {% else %}
                {% if listing.active == True %}
                  <a href="{% url 'close' listing.id %}">Close Auction</a>
                {% else %}
                    {% if not listing.winner %}
                      <p style="font-style: italic; color: grey">No one bid. Item returned to owner.</p>
                    {% else %}
                    <p style="font-style: italic; color: red">This auction has ended.</p>
                  {% endif %}
  {% endif %}
{% endif %}




  <ul>
    {% for bid in listing.bids.all reversed %}
      <li>
        <div style="border: 1px solid lightgrey; border-radius: 5px">
          {% if bid.bidder == request.user %}
            <span style="font-weight: bold; color: purple">{{ bid.bidder }}:</span>
            <span style="color: purple">{{ bid.bid}}</span>
          {% else %}
            <span style="font-weight: bold">{{ bid.bidder }}:</span>
            <span style="color: grey"></span>{{ bid.bid}}
          {% endif %}
          {% if bid.bid == max_bid %}
            <span style="color: red">&lt;-- HIGHEST BID </span>
          {% endif %}
        </div>
      </li>
    {% empty %}
      <li>No bids for this item yet.</li>
    {% endfor %}
  </ul>
{% endif %}

















<!-- W A T C H L I S T -->
  {% if user.is_authenticated %}
<div>
    {% if listing not in watchlist %}
      <a href="{% url 'add_watch' listing.id %}">Add to Watchlist</a>
    {% else %}
      <a href="{% url 'remove_watch' listing.id %}">Remove from Watchlist</a>
    {% endif %}
</div>
  {% endif %}





<!-- C O M M E N T S -->
{% if user.is_authenticated %}
  <div id="addcomments"> <!--Only logged-in users can ADD comments-->
    <form action="{% url 'comment' listing.id %}" method="post">
      {% csrf_token %}
      {{ commentform.as_p }} <!--'Form' rendered as a <p> tag-->
      <input type="submit" id="comment_submit_btn">
    </form>
  </div>
{% endif %}

<div id="comments"> <!--BUT any person can SEE comments, even if not logged in-->
  {% for comment in listing.comments.all %}
  <!--comments=related name of models.py listing_comment-->
  <!--^When on a LISTING, go to its comments and get all^-->
      <div style="border: 1px solid lightgrey; border-radius: 5px">
        <span style="font-weight: bold">{{ comment.comment_author }}:</span>
        <span style="color: grey">{{ comment.comment_text }}</span>
      </div>
  {% empty %}
    <p>No comments for this item yet.</p>
  {% endfor %}
</div>

{% if user.is_authenticated %}
{% else %}
    <br>
    <div style="text-align: center">
      <span style="font-style: italic; color: grey">Please sign in to make bids and/or comments.</span>
    </div>
    <br>
{% endif %}




{% endblock %}
